a {
  text-decoration: none;
}
.daohang {
  height: 126px;
  width: 1503px;
  border-top: 3px;
  border-bottom: 1px solid#fcfcfc;
  background-image: url(/第二次作业/图片/img/nav_loge.jpg);
  background-repeat: no-repeat;
  background-position: 190px 20px;
  position: relative;
}
.daohang .daohang:hover {
  background-image: linear-gradient(to bottom, rgb(17, 171, 243));
}
.daohang .nav {
  display: inline-block;
  font-size: 40px;
  margin-left: 240px;
  position: absolute;
  top: 20px;
}
.sousuo {
  width: 100px;
  height: 50px;
  position: absolute;
  right: 20%;
  top: 40px;
}
.sousuo input {
  box-shadow: inset 1px 1px rgb(46, 173, 247);
  border-radius: 5px;
  border-color: chartreuse;
}
.sbtn {
  background-image: url(/第二次作业/图片/img/search.png);
  width: 22px;
  position: absolute;
  top: 4px;
  left: 100px;
  border: 0;
}
ul li {
  display: inline-block;
  padding-left: 14px;
  margin-top: 40px;
}
ul .first {
  margin-left: 500px;
}
.daohang a {
  display: inline-block;
  padding: 0 18px;
  font-size: 8px;
  color: #4c4c4c;
}

.daohang a:hover {
  color: rgb(46, 173, 247);
}

.daohang input {
  height: 20px;
  border: 1px solid#4c4c4c;
  margin-left: 28px;
}

.b1 {
  height: 622px;
  width: 1503px;
  background-color: #31333f;
  background-image: url(/第二次作业/图片/img/header.png);
  background-repeat: no-repeat;
  background-position: bottom center;
  position: relative;
}

.b1 p {
  display: inline-block;
  color: #fcfcfc;
  font-weight: 400;
  font-size: 45px;
  position: absolute;
  top: 58px;
  left: 250px;
}
.b1 .btn {
  font-size: 18px;
  background-color: #00aeff;
  width: 240px;
  height: 58px;
  position: absolute;
  top: 58px;
  right: 255px;
  border-radius: 5px;
  border: 0;
}

.b1 .pi1 {
  position: absolute;
  left: 155px;
  top: 215px;
}
.b1 .pi2 {
  position: absolute;
  right: 155px;
  top: 215px;
}
.b2 {
  height: 490px;
  width: 1503px;
  justify-content: center;
  display: flex;
  text-align: center;
}

.b2 img {
  width: 253px;
  height: 200px;
  margin-left: 30px;
}
.b2 p {
  font-size: 30px;
  color: #929292;
}

.box1 {
  width: 295px;
  height: 490px;
  display: inline-block;
  padding: 36px;
}
.box2 {
  width: 295px;
  height: 490px;
  display: inline-block;
  padding: 36px;
}
.box3 {
  width: 295px;
  height: 490px;
  display: inline-block;
  padding: 36px;
}
.b2 .zi {
  font-size: 15px;
  color: #616060;
  padding: 0 10px;
  margin-top: 10px;
}

.tupian {
  height: 630px;
  width: 1503px;
  background-color: #e2e6ec;
}

.tupian p {
  position: relative;
  left: 255px;
  top: 55px;
  font-size: 30px;
  width: 300px;
}
.p1 {
  justify-content: center;
  display: flex;
  padding-top: 110px;
}
.p2 {
  justify-content: center;
  display: flex;
}
.tupian img {
  width: 253px;
  height: 200px;
}

.b3 {
  height: 245px;
  width: 1503px;
  background-repeat: no-repeat;
  position: relative;
}

.b3 img {
  height: 80px;
  width: 100px;
  padding: 50px;
}

.b3 .header {
  font-size: 30px;
  margin-top: 20px;
  margin-left: 18%;
  display: inline-block;
}
.b3 .dh {
  height: 70px;
  width: 50px;
}
.b3 .p5 {
  text-align: center;
}

.b4 {
  height: 210px;
  width: 1503px;
  background-color: #31333f;
  padding-left: 195px;
  line-height: 30px;
  position: relative;
}
.b4 li,
a,
footer,
.zi4 {
  color: #fcfcfc;
}
.b4 .p6 {
  position: absolute;
  top: 35px;
  right: 20%;
}
.b4 a:hover {
  color: aqua;
}
